@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(http://fonts.googleapis.com/css?family=Sniglet);

body, html {
	margin: 0;
	padding: 0;
  font-family: "Sniglet", sans-serif;
  overflow: hidden;
}

x-tabbar {
  background: green;
  border-bottom: 2px solid rgb(2, 96, 2);
}

x-tabbar-tab {
  font-family: "Sniglet";
}

x-tabbar-tab:hover {
  background: rgb(2, 96, 2);
}

#layout {
	height: 60%;
}

#clicker {
	height: 25%;
	text-align: center;
}

#clicker button {
	width: 50%;
	height: 100%;
	margin: auto;
  border: 2px solid #444;
  background: white url('./assets/EGG.jpg') no-repeat 50% 50%;
}

#items ul {
  padding: 0;
  margin: 0;
}

#numbers {
	height: 15%;
}

x-card {
	overflow: auto !important;
  padding: 0 5px;
}

x-card#store {
  padding: 0;
}

#stage {
  pointer-events: none;
}

#notifications {
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;
}

#tree .nest {
	width: 120px;
	float: left;
  padding-left: 20px;
}

#tree .bird {
  display: inline-block;
  position: relative;
  top: -7px;
  margin-left: -100px;
}

#tree .bird img {
  margin-left: 5px
}

#tree .bird:nth-child(even) {
  top: -11px;
}

#tree .Purty .bird {
  margin-left: -90px;
}

#tree .Purty .bird img {
  margin-left: 5px;
}

#tree .Bricky .bird {
  margin-left: -71px;
}

#tree .Bricky .bird img {
  margin-left: -8px;
}

#tree .Splash .bird {
  margin-left: -100px;
}

#tree .Splash .bird img {
  margin-left: 30px;
}

#tree .Hot {
  width: 138px;
}

#tree .Hot .bird {
  margin-left: -98px;
}

#tree .Hot .bird img {
  margin-left: 30px;
}

#notifications .challenge, #notifications .event {
  position:absolute;
	background-color: #eee;
	width: 100%;
	height:75px; 
}

#notifications .name, #notifications .description {
  text-align: center;
	width: 100%;
	display:block;
}

#notifications .name {
	font-weight: bold;
}

#notifications button {
	display:inline-block;
	color: #fff;
	background-color: #00202F;
	width: 49%;
	height:25px;
	border:0;
	margin:2px;
}

.notifyjs-wrapper span {
  max-width: 300px;
  display: block;
}

.notifyjs-arrow {
  display: none !important;
}

.notifyjs-bootstrap-base {
  white-space: normal !important;
}

.notifyjs-challenge-base {
  background: #F5F5F5;
  padding: 5px;
  border-radius: 10px;
}

.notifyjs-challenge-base .title {
  margin: 10px 0 0 10px;
  text-align: right;
}

.notifyjs-challenge-base .buttons {
  width: 70px;
  display:inline;
  font-size: 9px;
  padding: 5px;
  margin: 2px;
}

.notifyjs-challenge-base button {
  padding: 5px;
  height:30px;
  margin: 2px;
  width: 80%;
  margin: 5px 10% 0;
}

.notifyjs-award-base {
  background: gold;
  color:black;
  padding: 5px;
  border-radius: 10px;
}

.notifyjs-award-base .name {
  margin: 10px 0 0 10px;
  text-align: right;
  font-weight: bold;
}

.notifyjs-award-base .buttons {
  width: 70px;
  display:inline;
  font-size: 9px;
  padding: 5px;
  margin: 2px;
}

.clear {
  clear:both;
}

.notifyjs-award-base button {
  font-size: 9px;
  padding: 5px;
  margin: 2px;
  width: 60px;
}

.notifyjs-bootstrap-base {
  background-image: none !important;
  padding: 8px 15px !important;
}

div.disabled {
	opacity:0.15;
}

div.hidden {
  display:none;
}

#tree {
  padding-top: 20px;
  background: url('./assets/trunk.png') repeat-y 50% 0;
}

#store .profile {
  float: left;
  width: 120px;
  text-align: center;
}

#store .info {
  float: left;
  margin-top: 8px;
  width: 50%;
}

#store .info p {
  margin: 5px 0 0 0;
}

#store .nest, #store .bird, #store .upgrade {
  clear: both;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#store .stats {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  color: #0022ee;
  text-align: right;
}

#store .stats span {
  display: block;
}

ul#items {
  padding: 0;
  margin: 0;
}

#numbers {
  font-family: 'Londrina Solid', cursive;
  text-align: center;
}

#numbers h1 {
  margin: 0;
  font-size: 44px;
}
#numbers h2 {
  margin: -10px 0 0 0;
}

#stats dt {
  font-weight: 900;
  color: green;
}

#stats dd {
  font-weight: 100;
  font-size: 22px;
  margin-bottom: 20px;
}

#awards .name {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

#awards .description {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: lighter;
}

.eggflake {
  width: 14px;
  height: 24px;
  position: absolute;
  z-index: 999;
  border-radius: 50%/60% 60% 40% 40%;
}
