body, html {
	margin: 0;
	padding: 0;
  font-family: "Fira Sans","Fira Sans","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
  overflow: hidden;
}

#layout {
	height: 60%;
}

#clicker {
	height: 20%;
	text-align: center;
}

#clicker button {
	width: 50%;
	height: 100%;
	margin: auto;
}

#numbers {
	height: 20%;
}

x-card {
	overflow: auto !important;
}

#notifications {
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;
}

#tree .nest {
	position: relative;
	float: left;
}

#tree .bird {
	position: absolute;
	left: 0px;
	top: -10px;
}

#tree .bird:nth-child(2) {
	left: 15px;
	top: -15px;
}

#tree .bird:nth-child(3) {
	left: 25px;
}

#tree .bird:nth-child(4) {
	left: 35px;
	top: -15px;
}

#tree .bird:nth-child(5) {
	left: 45px;
}

#notifications .challenge, #notifications .event {
  position:absolute;
	background-color: #eee;
	width: 100%;
	height:75px; 
}

#notifications .name, #notifications .description {
  text-align: center;
	width: 100%;
	display:block;
}

#notifications .name {
	font-weight: bold;
}

#notifications button {
	display:inline-block;
	color: #fff;
	background-color: #00202F;
	width: 49%;
	height:25px;
	border:0;
	margin:2px;
}

.notifyjs-wrapper span {
  max-width: 300px;
  display: block;
}

.notifyjs-arrow {
  display: none !important;
}

.notifyjs-bootstrap-base {
  white-space: normal !important;
}

.notifyjs-challenge-base {
  background: #F5F5F5;
  padding: 5px;
  border-radius: 10px;
}

.notifyjs-challenge-base .title {
  margin: 10px 0 0 10px;
  text-align: right;
}

.notifyjs-challenge-base .buttons {
  width: 70px;
  display:inline;
  font-size: 9px;
  padding: 5px;
  margin: 2px;
}

.notifyjs-challenge-base button {
  font-size: 9px;
  padding: 5px;
  margin: 2px;
  width: 60px;
}

.notifyjs-award-base {
  background: gold;
  color:black;
  padding: 5px;
  border-radius: 10px;
}

.notifyjs-award-base .name {
  margin: 10px 0 0 10px;
  text-align: right;
  font-weight: bold;
}

.notifyjs-award-base .buttons {
  width: 70px;
  display:inline;
  font-size: 9px;
  padding: 5px;
  margin: 2px;
}

.notifyjs-award-base button {
  font-size: 9px;
  padding: 5px;
  margin: 2px;
  width: 60px;
}

.notifyjs-bootstrap-base {
  background-image: none !important;
  padding: 8px 15px !important;
}

div.disabled {
	opacity:0.15;
}
